@model GlobalTrans.Models.Load

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Load</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="weightLoad" class="control-label"></label>
                <input asp-for="weightLoad" class="form-control" />
                <span asp-validation-for="weightLoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="length" class="control-label"></label>
                <input asp-for="length" class="form-control" />
                <span asp-validation-for="length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kindOf" class="control-label"></label>
                <input asp-for="kindOf" class="form-control" />
                <span asp-validation-for="kindOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LoadList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
